<div>
    <h2>{{planetDetail.name}}</h2>
    <div>
    <h3>DETAIL</h3>
    <div>
        <p><span>Climate: </span>{{planetDetail.climate}}</p>
        <p><span>Population: </span>{{planetDetail.population}}</p>
        <br/>
        <p><span>Gravity: </span>{{planetDetail.gravity}}</p>
        <p><span>Surface Water: </span>{{planetDetail.surface_water}}</p>
        <p><span>Orbital Period: </span>{{planetDetail.orbital_period}}</p>
        <p><span>Rotation Period: </span>{{planetDetail.rotation_period}}</p>
    </div>
</div>
</div>