<div>
    <h2>{{characterDetail.name}}</h2>
    <div>
        <h3>DETAIL</h3>
        <div>
            <p><span>Birth Year: </span>{{characterDetail.birth_year}}</p>
            <p><span>Home World: </span>{{planet.name}}</p>
            <br />
            <p><span>Gender: </span>{{characterDetail.gender}}</p>
            <p><span>Height: </span>{{characterDetail.height}}</p>
            <p><span>Mass: </span>{{characterDetail.mass}}</p>
            <p><span>Hair Color: </span>{{characterDetail.hair_color}}</p>
            <p><span>Skin Color: </span>{{characterDetail.skin_color}}</p>
            <p><span>Eye Color: </span>{{characterDetail.eye_color}}</p>
            <br />
            <p><span>Films: </span>{{characterDetail.films?.length}}</p>
        </div>
    </div>
</div>