<div class="sideHeaderArea">
    <h1 class="sideHeader">STAR WARS</h1>
</div>
<div class="navbar">
    <nav>
        <ul class="navWrapper">
            <li class="navElement"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Films</a></li>
            <li class="navElement"><a routerLink="/planets" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Planets</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
